body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.container {
  min-height: 350px;
  width: 750px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  /* background-color: #ffffff; */
  /* border: 1px solid rgb(255, 255, 255); */
  /* border-radius: 25px; */
  background-color: rgba(0, 0, 0, 0.24);
  margin-top: 70px;
  gap: 40px;
  border: 3px solid #ffffff;
}





.container-header {
  margin-left: 30px;
  /* background-color: red; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container-tareas {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  width: 750px;
  align-items: center;
}

/* --------------------INPUT------------------ */
.form {
  --width-of-input: 250px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #ce5813;
  --input-hovered-color: #e049a61f;
  position: relative;
  width: var(--width-of-input);
  display: flex;
}

.input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

input:focus {
  outline: none;
}

input:focus~.input-border {
  width: 87%;
}

/* ---------------BUTTON----------- */
.button-tarea {
  font-family: monospace;
  font-size: 20px;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 5px;
  /* border: 1px solid #FAFAFA; */
  background: #252525;
  box-shadow: 2px 2px #000000;
  cursor: pointer;
  margin: 5px 0;
}

.button-tarea:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}